<a href="javascript:push('https://pnhiremath.bitbucket.io/history.html/ReplaceState');" onclick="rep()">
    ReplaceState
</a> <br/>
<a href="javascript:push('https://pnhiremath.bitbucket.io/history.html/PushState');">
    PushState
</a>

<script>
function loadUrl(url) {
console.log("loading data from url: " + url);

}

function push(url) {
    history.pushState(null, null, url);
    loadUrl(url);
}
function rep(){


var state = {};
var title = "";
var url   = "another-page.html";

history.replaceState(state, title, url);
}

</script>   